/* CSS declarations go here */
.right-section {
    background-color: #F9F7F9;
    height: 100vh;   
}

.mid-section {
    background-color:#fff;
    height: 100vh;
}

.left-section {
    background-color:#363534;
    height: 100vh;
    /*min-width:230px! important;*/
}

.whitetext {
    color: #fff! important;
}

.title {
    padding-top:10%;
    max-height: 20%;
}

.menuContainer {
    height:60%;
}

.ui.inverted.menu {
    background-color:#363534;
}

.ui.steps .step {
    background: none;
    color:#fff;
}

.ui.steps .step.active {
    color:#363534;
}

.highlight {
    background-color:#E7E6E8! important;
}

.lowlight {
    background-color:#F1EFF1! important;
}

.blank-col-padding {
    padding-right:2rem! important;
}
.blank-row-padding {
    padding-bottom:0rem! important;
}

.ui.horizontal.segments > .segment {
    border:none!important;
}

.ui.segments {
    border:none!important;
    box-shadow:none!important;
}

/*.pusher {*/
/*    left:210px;*/
/*}*/